/* ------------------------------------------------------------------------------
*
*  # Media list component
*
*  Overrides for media list bootstrap component
*
*  Version: 1.1
*  Latest update: Mar 10, 2016
*
* ---------------------------------------------------------------------------- */
.media {
  margin-top: 20px;
  position: relative;
}
.media,
.media-body {
  overflow: visible;
}
.media-left,
.media-right,
.media-body {
  position: relative;
}
.media-heading {
  margin-bottom: 2px;
  display: block;
}
.media-list {
  margin-bottom: 0;
}
.media-right,
.media > .pull-right {
  padding-left: 20px;
}
.media-left,
.media > .pull-left {
  padding-right: 20px;
}
@media (max-width: 768px) {
  .stack-media-on-mobile {
    text-align: center;
  }
  .stack-media-on-mobile .media-annotation {
    display: block;
  }
  .stack-media-on-mobile .media-annotation.dotted:not(.pull-right):before {
    content: none;
    margin: 0;
  }
  .stack-media-on-mobile .media-heading .media-annotation {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 5px;
  }
  .stack-media-on-mobile .media-left,
  .stack-media-on-mobile .media-right,
  .stack-media-on-mobile .media-body {
    display: block;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .stack-media-on-mobile .media-left img,
  .stack-media-on-mobile .media-right img,
  .stack-media-on-mobile .media-body img {
    width: 100%;
    height: auto;
    max-height: none;
  }
  .stack-media-on-mobile .media-body,
  .stack-media-on-mobile .media-right {
    margin-top: 15px;
  }
  .stack-media-on-mobile .media-heading {
    margin-bottom: 5px;
  }
}
.media-left img:not(.media-preview),
.media-right img:not(.media-preview),
.thumbnail .media img:not(.media-preview) {
  width: 40px;
  height: 40px;
  max-width: none;
}
.no-padding {
  padding: 0 !important;
}
.media-badge {
  position: absolute;
  left: -10px;
  top: -2px;
}
.media-badge,
.media-badge[class*=bg-] {
  border: 2px solid;
}
@media (max-width: 768px) {
  .navbar-inverse .media-badge {
    border: 0;
    top: 0;
  }
}
.media-annotation {
  color: #999999;
  font-size: 12px;
  line-height: 1.6666667;
  font-weight: 400;
}
.media-heading .media-annotation {
  margin-left: 8px;
}
.media-annotation i {
  font-size: 13px;
}
.media-annotation.dotted:not(.pull-right):before {
  content: '\2022';
  margin-right: 11px;
}
.media-header {
  white-space: nowrap;
  margin-top: 20px;
  font-weight: 500;
}
.media-header:first-child {
  margin-top: 0;
}
.media-list-bordered > li {
  border-top: 1px solid #eeeeee;
  padding-top: 15px;
  margin-top: 15px;
}
.media-list-bordered > li:first-child {
  padding-top: 0;
  border-top-width: 0;
}
.media-list-bordered.media-list-linked .media-header {
  margin-bottom: 15px;
}
.media-list-linked .media {
  margin-top: 0;
  padding: 0;
}
.media-list-linked .media-link {
  display: block;
  padding: 15px 20px;
  color: #333333;
}
.media-list-linked .media-link:hover,
.media-list-linked .media-link:focus {
  background-color: #fafafa;
  color: #333333;
}
.media-list-linked .media-header {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.media-list-linked .media-header:first-child {
  margin-top: 0;
}
.media-list-linked.media-list-bordered > li:first-child {
  border-top-width: 1px;
}
.media-list-linked.media-list-bordered > .media-header {
  margin-top: 0;
}
.media-list-linked.media-list-bordered > .media-header:first-child {
  border-top-width: 0;
}
/* ------------------------------------------------------------------------------
*
*  # Uniform form inputs plugin
*
*  Styles for uniform.min.js - form components styling
*
*  Version: 1.2
*  Latest update: Aug 10, 2016
*
* ---------------------------------------------------------------------------- */
.checker {
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
.checker,
.checker span,
.checker input {
  width: 18px;
  height: 18px;
}
.checker span {
  color: #455A64;
  border: 2px solid #607D8B;
  display: inline-block;
  text-align: center;
  position: relative;
  border-radius: 2px;
}
.checker span:after {
  content: "\ed6e";
  font-family: 'icomoon';
  font-size: 16px;
  color: inherit;
  line-height: 1;
  position: absolute;
  top: -1px;
  left: -1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.checker span.checked {
  border-color: transparent;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.checker span.checked:after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.checker input[type=checkbox],
.choice input[type=radio] {
  border: none;
  background: none;
  display: -moz-inline-box;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  cursor: pointer;
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox .checker,
.checkbox-inline .checker {
  position: relative;
  top: 1px;
  left: 0;
  margin-right: 8px;
}
.form-horizontal .checkbox .checker,
.form-horizontal .checkbox-inline .checker {
  top: 10px;
}
.checkbox-right .checker {
  left: auto;
  right: 0;
}
.checker.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.checker.disabled,
.checker.disabled input[type=checkbox] {
  cursor: not-allowed;
}
.checkbox > label:active .checker.disabled span:after,
.checkbox-inline:active .checker.disabled span:after {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox > label:active .checker.disabled span.checked:after,
.checkbox-inline:active .checker.disabled span.checked:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.checker[class*=border-] span {
  color: inherit;
}
.checker[class*=border-] span:not(.checked) {
  border-color: inherit;
}
.dropdown-menu > .active:not(.disabled) .checker span,
.dropdown-menu[class*=bg-] .checker span,
.page-header-inverse .form-group > .checkbox .checker span,
.page-header-inverse .form-group > .checkbox-inline .checker span,
.navbar-inverse .navbar-form .form-group > .checkbox .checker span,
.navbar-inverse .navbar-form .form-group > .checkbox-inline .checker span,
.sidebar:not(.sidebar-default) .checkbox .checker span,
.sidebar:not(.sidebar-default) .checkbox-inline .checker span {
  border-color: #fff;
  color: #fff;
}
.dropdown-menu > .active:not(.disabled) .checker span.checked,
.dropdown-menu[class*=bg-] .checker span.checked,
.page-header-inverse .form-group > .checkbox .checker span.checked,
.page-header-inverse .form-group > .checkbox-inline .checker span.checked,
.navbar-inverse .navbar-form .form-group > .checkbox .checker span.checked,
.navbar-inverse .navbar-form .form-group > .checkbox-inline .checker span.checked,
.sidebar:not(.sidebar-default) .checkbox .checker span.checked,
.sidebar:not(.sidebar-default) .checkbox-inline .checker span.checked {
  border-color: transparent;
}
.choice {
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 100%;
}
.choice,
.choice span,
.choice input {
  width: 18px;
  height: 18px;
}
.choice span {
  border: 2px solid #607D8B;
  display: -moz-inline-box;
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  position: relative;
}
.choice span:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  border: 4px solid;
  border-color: inherit;
  width: 0;
  height: 0;
  border-radius: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.choice span.checked:after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.radio .choice,
.radio-inline .choice {
  position: absolute;
  top: 1px;
  left: 0;
}
.form-horizontal .radio .choice,
.form-horizontal .radio-inline .choice {
  top: 10px;
}
.radio-right .choice {
  left: auto;
  right: 0;
}
.choice.active span:after,
.radio > label:active .choice span:after,
.radio-inline:active .choice span:after {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.choice.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.choice.disabled,
.choice.disabled input[type=radio] {
  cursor: not-allowed;
}
.radio > label:active .choice.disabled span:after,
.radio-inline:active .choice.disabled span:after {
  opacity: 0;
  filter: alpha(opacity=0);
}
.radio > label:active .choice.disabled span.checked:after,
.radio-inline:active .choice.disabled span.checked:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.choice[class*=border-] span {
  border-color: inherit;
}
.choice[class*=border-] span:after {
  border-color: inherit;
}
.dropdown-menu > .active .choice span,
.dropdown-menu[class*=bg-] .choice span,
.page-header-inverse .form-group > .radio .choice span,
.page-header-inverse .form-group > .radio-inline .choice span,
.navbar-inverse .navbar-form .form-group > .radio .choice span,
.navbar-inverse .navbar-form .form-group > .radio-inline .choice span,
.sidebar:not(.sidebar-default) .radio .choice span,
.sidebar:not(.sidebar-default) .radio-inline .choice span {
  border-color: #fff;
}
.uploader {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.uploader:after {
  content: '';
  display: table;
  clear: both;
}
.uploader .filename {
  color: #999999;
  padding: 8px 16px;
  cursor: pointer;
  display: block;
  border: 1px solid transparent;
  float: right;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.uploader .action {
  cursor: pointer;
  margin: 0;
  float: left;
}
.uploader .action.btn {
  margin-top: 0;
}
.uploader:hover .action,
.uploader:focus .action {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
}
.uploader:active .action {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}
.uploader input[type=file] {
  width: 100%;
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 38px;
  border: 0;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  filter: alpha(opacity=0);
}
.uploader.disabled input[type=file] {
  cursor: not-allowed;
}
.uploader.disabled .action {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.sidebar .form-group > .uploader {
  display: block;
}
.sidebar .form-group > .uploader .filename {
  float: none;
  padding-left: 0;
  padding-right: 0;
}
.sidebar .form-group > .uploader .action {
  display: block;
}
.page-header-inverse .form-group > .uploader .filename,
.navbar-inverse .navbar-form .form-group > .uploader .filename {
  color: rgba(255, 255, 255, 0.9);
}
.uploader-lg input[type=file],
.uploader-lg .action,
.uploader-lg .filename {
  height: 40px;
}
.uploader-lg .filename {
  padding: 9px 18px;
  font-size: 14px;
  line-height: 1.4285715;
}
.uploader-sm input[type=file],
.uploader-sm .action,
.uploader-sm .filename {
  height: 36px;
}
.uploader-sm .filename {
  padding: 7px 14px;
  font-size: 12px;
  line-height: 1.6666667;
}
.uploader-xs input[type=file],
.uploader-xs .action,
.uploader-xs .filename {
  height: 34px;
}
.uploader-xs .filename {
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.6666667;
}
.gap-lg {
  height: 50px;
}
.gap-md {
  height: 30px;
}
.gap-sm {
  height: 15px;
}
.gap-xs {
  height: 8px;
}

.btn-bordered {
	background: transparent;
}

.btn-bordered.btn-primary {
	border:1px solid #008DEF;
	color: #008DEF;
}

.btn-bordered.btn-primary:hover {
	border:1px solid #008DEF;
	background: #008DEF;
	color: #fff;
}

.position-left {
	margin-right: 8px;
}
.position-right {
	margin-left: 8px;
}

.courier-list {
	border:3px solid #ddd;
	cursor: pointer;
	padding: 8px;
	position: relative;
}

.courier-list:before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	z-index: 99;
	position: absolute;
}

.courier-list.active:before {
	opacity: 0.2;
}

.courier-list.active {
	border-color: #888;
}

.courier-list:hover {
	border-color: #888;
}

.kv-preview-data {
	object-fit: contain;
}

.text-sm {
	font-size: 12px;
}

.text-xs {
	font-size: 10px;
}

.text-lg {
	font-size: 18px;
}

.text-md {
	font-size: 14px;
}

.text-readmore {
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	word-wrap: normal;
   	line-height: 16px;     
   	max-height: 16px;      
   	-webkit-line-clamp: 1; 
   	-webkit-box-orient: vertical;
}

.text-readmore-3{
 overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-wrap: normal;
    line-height: 18px;     
    max-height: 35px;      
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical; 
}

.text-readmore-2 {
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	word-wrap: normal;
   	line-height: 16px;     
   	height: 32px;      
   	-webkit-line-clamp: 2; 
   	-webkit-box-orient: vertical;
}

img.img-preview-user {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
}

.btn-sm {
	font-size: 12px;
}

.no-float {
	float: none;
}

table.table-default {
	width: 100%;
}

table.table-default tr td {
	padding: 3px 0px;
}

table.table-default tr td.active {
	font-weight: bold;
}

.img-xs {
	width: 30px;
	height: 30px;
	object-fit: cover;
}

.img-sm {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.img-border {
	border:1px solid #ddd;
}

.margin-center {
	margin: auto;
	float: none;
}

.no-margin{
	margin: 0px;
}

.blockUI.blockOverlay{
	position: fixed !important;
}

.ov-height-300 {
	max-height: 300px;
	overflow: auto;
}

.stepy-navigator .button-back {
	float: left !important;
}

.bg-grey-100 {
	background: #eee;
}

.group-cart {
	margin-bottom: 10px;
}

.group-cart:last-child {
	margin: 0px;
}

.no-radius {
	border-radius: 0;
}
.text-semibold {
    font-weight: 500;
}

table.table-transparent {
	width: 100%;
}

.text-normal {
  font-weight: normal;
  text-transform: none; 
}

table.table-transparent tr td {
	padding: 3px 0px;
}
.google-map {
	width: 100%;
	height: 100%;
	border:0px;
}

input[type=checkbox] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    height: 15px;
    width: 15px;
}

.btn-border{
	background: transparent;
	border:2px solid #ccc;
	color: #888;
}

.btn-sosmed-img img {
	width: 20px;
	height: 20px;
}

.text-lowercase-important {
	text-transform: lowercase !important;
}

hr.dashed {
	border-top: 2px dashed #ddd;
}

ul.inline {
	margin: 0;
	padding: 0;
}

ul.inline li {
	list-style: none;
	display: inline-block;
	margin-right: 8px;
}

.cursor-pointer {
	cursor: pointer;
}


.box-header {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}


.box-flat {
  background: #fff;
  box-shadow: 1px 1px 1px #0000001c;
}

.box-body {
  padding: 10px 20px;
}
table > thead tr > th {
  vertical-align: middle !important;
}
table > tbody tr > th {
  vertical-align: middle !important;
}

table > tbody > tr > td {
  vertical-align: middle !important;
}

.countdown {
  padding: 0;
  margin:0;
}

.countdown li {
  display: inline-block;
  padding: 3px 8px;
  background: #E22D26;
  color: #fff;
  font-size: 10px;
  text-align: center;
}

.countdown li div.data {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 3px;
  min-width: 30px;
  border-bottom: 1px solid #ffffffab;
}


.label.label-lg {
      font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 15px;
    display: inline-block;
}
.pad-10 {
  padding: 10px;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-3 {
  opacity: 0.3;
}

.cursor-pointer {
  cursor: pointer;
}
.tooltip {
  white-space: nowrap;
}

.block-aksa-message {
  padding: 8px 15px;
  background: #fff;
  border-radius: 3px;
  display: inline-block;
}

.block-aksa-message i {
  margin-right: 5px;
}

.bg-gradient-wallpaper {
        background: linear-gradient(rgba(77, 132, 242, 0.71), rgba(8, 49, 100, 0.89)), url(/mainassets/img/background-1.jpg);
    background-size: cover;
    background-position: center;
}

.tool-superuser-login li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    border:2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    line-height: 1.7
}

ul.tool-superuser-login li {
  margin-right: 30px;
}

ul.tool-superuser-login li:last-child {
  margin:0;
}

.jGrowl-notification.bg-danger,
.jGrowl-notification.bg-success {
  color: #fff;
}

.jGrowl-message {
  word-wrap: break-word;
}

.sidebar-user-material .category-content {
    background: linear-gradient(rgba(55, 55, 55, 0.3), rgba(55, 55, 55, 0.3)), url('https://source.unsplash.com/1600x790/daily/?mountain');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.object-cover {
  object-fit: cover;
}


/* WEBSITE */
.table-custom-me{
  border-color: transparent;
}

.table-custom-me thead th,
.table-custom-me thead {
  border-color: transparent;
}

.table-custom-me thead {
  border-bottom: 2px solid #1A48B9;
}
.table-custom-me thead th {
  color: #444;
}

.no-bold {
  font-weight: normal;
}

.table-custom-me tbody tr {
  border-bottom: 1px solid #eee
}

.table-custom-me tbody tr td {
  border-color: transparent;
  border-bottom: 1px solid #eee;
}

.table-custom-me tbody tr.active td {
  background: #f8f8f8;
}

.table-custom-me tbody tr {
  cursor: pointer;
}

.table-custom-me tbody tr:hover td {
  background: #eee;
}

.btn-alert {
      border: 1px solid #4caf50;
    border-radius: 3px;
    padding: 4px 8px;
    background: #4caf50;
    margin-right: 12px;
    color: #fff;
    cursor: pointer;
}

.btn-alert-remove {
      border: 1px solid #bbb;
    border-radius: 3px;
    padding: 4px 8px;
    background: #ddd;
    margin-right: 12px;
    color: #888;
    cursor: pointer;
}

.btn-alert:hover {
  opacity: 0.8;
}

ul.filter-option {
  margin: 0;
  padding: 0;
}

ul.filter-option li {
  display: inline-block;
  list-style: none;
  padding: 4px 8px;
  margin-right: 6px;
  background: #f8f8f8;
  border:1px solid #ccc;
  font-size: 12px;
  cursor: pointer;
}

ul.filter-option li:hover {
  background: #eee;
}

ul.filter-option li.active:hover{
  background: #1A47B8;
  color: #fff;
  border-color: #1A47B8;
}

ul.filter-option li.active {
  background: #1A47B8;
  color: #fff;
  border-color: #1A47B8;
}

ul.filter-option li:last-child{
  margin:0;
}

ul.imp-list {
  margin:0;
  padding: 0;
}

.equal-uniform-checkbox {
    display: inline-block;
    position: relative;
    top: 6px;
    margin-left: 8px !important;
}
.element-box.pad-sm{
  padding: 10px 20px;
}
ul.imp-list li {
  list-style:none;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background: url('../img/bulls.png');
  background-size: contain;
}

ul.imp-list li.active {
    background: url('../img/bulls_active.png');
  background-size: contain;
}

ul.imp-list li:last-child {
  margin:0;
}

label.checkbox-country {
    display: block;
    width: 100%;
    padding: 3px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-wrap: normal;
    line-height: 40px;
    height: 46px;
    max-height: 50px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    background: #fff;
    border-radius: 25px;
    cursor: pointer;
}

label.checkbox-country:hover {
  background: #eee;
}

label.checkbox-country.active {
  background: #047BF8;
  color: #fff;
}
label.checkbox-country.active img{
  border-color: #fff;
}

label.checkbox-country.active:hover {
  background: #047BF8;
}

label.checkbox-country img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
  border:1px solid transparent;
}

.hidden {
  display: none !important;
}



ul.sort-button-hawk{
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 0;
}

ul.sort-button-hawk li {
  display: inline-block;
  margin: 0;
  font-size: 14px;
}

ul.sort-button-hawk li.active button,
ul.sort-button-hawk li.active a {
  border-color: #047BF8;
  color: #047BF8;
}

ul.sort-button-hawk li button:hover,
ul.sort-button-hawk li a:hover {
  color: #666;
  border-color: #888;
}

ul.sort-button-hawk li.active button:hover,
ul.sort-button-hawk li.active a:hover{
 border-color: #047BF8;
  color: #047BF8; 
}

ul.sort-button-hawk li button,
ul.sort-button-hawk li a {
  background: #fff;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  border:0px;
  border-bottom: 3px solid #ddd;
  color: #999;
  padding: 6px 12px;
  outline: none;
}

ul.sort-button-hawk li button:focus,
ul.sort-button-hawk li button:active,
ul.sort-button-hawk li a:focus,
ul.sort-button-hawk li a:active,
.input-search-hawk button.icon:focus,
.input-search-hawk button.icon:active,
.btn-main-hawk:focus,
.btn-main-hawk:active,
.input-search-hawk input[type=search]:focus,
.input-search-hawk input[type=search]:active,{
  outline: none;
}

.btn-main-hawk {
  cursor: pointer;
  background: #fff;
  border:2px solid #047BF8;
  padding: 6px 15px;
  outline: none;
  border-radius: 6px;
  color: #047BF8;
}

.btn-main-hawk:hover {
  background: #047BF8;
  color: #fff;
}

.tab-content-maxheight-modal {
      height: 320px;
    max-height: 320px;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
}

.input-search-hawk{
  width: 100%;
  position: relative;
  border:2px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
}

.input-search-hawk input[type=search]{
  background: #fff;
  height: 30px;
  padding: 2px 12px;
  padding-right: 30px;
  font-size: 12px;
  border:0;
  margin:0;
  width: 100%;
  outline: none;
}

.input-search-hawk button.icon{
      background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 12px;
    border: 0;
    height: 30px;
    color: #aaa;
    cursor: pointer;
}
 .watchlists-item ul.option {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.watchlists-item ul.option li {
  list-style: none;
  display: inline-block;
  margin-right: 3px;
}

.watchlists-item ul.option li:last-child {
  margin:0;
}

.watchlists-item ul.option li a {
  display: inline-block;
  width: 22px;
  height: 22px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  padding-top: 1.5px;
}

.watchlists-item ul.option li a i {
  font-size: 10px;
}

.watchlists-item .border-icon {
  position: relative;
  height: 1px;
  width: 100%;
  background: #ddd;
  text-align: center;
  margin-bottom: 15px;
}

.watchlists-item .border-icon > span{
  display: inline-block;
  background: #fff;
  font-size: 10px;
  position: relative;
  padding: 1px 8px;
  top: -12px;
  color: #888;
}

ul.data-watchlists {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
}

ul.data-watchlists li {
  list-style: none;
  display: inline-block;
  margin-right: 8px;
}

ul.data-watchlists li:last-child {
  margin:0;
}

ul.data-watchlists li > span.value,
ul.data-watchlists li > span.name {
  display: block;
  font-size: 10px;
  width: 50px;
}

ul.data-watchlists li > span.name {
  margin-top: 5px;
  padding: 5px 0px;
  font-weight: 500px;
  border-top:2px solid #047BF8;
}


button.alert-earning {
  background: #eee;
  border:1px solid #ddd;
  color: #888;
  border-radius: 4px;
  padding: 4px 8px;
  display: block;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
}

button.alert-earning:hover {
  background: #e4e2e2;
  color: #777;
}

button.alert-earning.active:hover{
  background: #3bcb59;
}

button.alert-earning.active {
      background: #3bcb59;
    border: 1px solid #26b243;
    color: #fff;
}

button.alert-earning i {
  font-size: 12px;
}

button{
  outline: none;
}

button:focus,
button:active{
  outline: none;
}

.watchlists-item.notif-active {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    background-color: #FFF;
  }
  100% {
    background-color: #ffedd8;
  }
}

.load-bar {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 8px;
  background-color: #1843AD;
  border-radius: 4px;
  overflow: hidden;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color:#9DAAF5;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color:#047BF8;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #1843AD;
  animation: loading 3s linear 2s infinite;
}
.bar:nth-child(4) {
  background-color:#047BF8;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(5) {
  background-color:#9DAAF5;
  animation: loading 3s linear infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}

.pulsate-css {
    opacity: 0.3;
    border: 3px solid #aaa;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.watchlists-item.active .pulsate-css{
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite; 
    border-color: #ff5722;
}
.notif-watchlist {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  text-align: center;
}

.notif-watchlist > i{
  position: relative;
  z-index: 1;
  color: #aaa;
  display: inline-block;
}
.watchlists-item.active .notif-watchlist > i {
  color: #ff5722;
}

.watchlists-item button.btn-remove {
  outline: none;
  border:0px;
  background: #eee;
  color: #666;
  font-size: 10px;
  padding: 4px 8px;
  padding-top: 6px;
  border-radius: 3px;
  cursor: pointer;
}

.watchlists-item button.btn-remove:hover {
  background: #dcdcdc;
  color: #444;
}

.watchlists-item button.btn-remove i{
  font-size: 10px;
}

.watchlists-item .label {
  background: #eee;
  padding: 2px 8px;
  margin-left: 5px;
  padding-top: 4px;
  font-size: 10px;
  color: #666;
  border-radius: 3px;
}

.watchlists-item.active .label {
  color:#fff;
  background: #ff5722; 
  animation: pulseKu 2s ease infinite;
}


@keyframes pulseKu {
  0%, 100% {
    background-color: #ff5722;
  }
  50% {
    background: #ffa285;
  }
}

.datatable-hawk .datatable-basic{
  margin-top: 5px;
  border:0;
}

.datatable-hawk .datatable-header{
  padding: 0;
  border:0px;
}

.datatable-hawk .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 15px;
}

.datatable-hawk .dataTables_filter > label > span {
    display: none;
}

.datatable-hawk .dataTables_filter,
.datatable-hawk .dataTables_length {
  margin: 0;
}

.datatable-hawk .datatable-footer{
  padding: 0;
  border:0;
  margin:0;
}

.datatable-hawk .dataTables_info{
  font-size: 12px;
}

.datatable-hawk .dataTables_length > label > span:first-child{
  font-size: 12px;
}

.flexslider {
  margin: 0 !important;
  border: 0 !important;
}

.logo-hawk{
  width: 100%;
  max-width: 250px;
  object-fit: contain;
}

.Workshops-list-slider .content {
  padding: 30px;
  position: relative;
  z-index: 1;
  background: #fff;
  height: 583px;
  padding: 30px 80px;
}

.border-hawk-left {
  position: absolute;
  width: 300px;
  height: 300px;
  background: url('../../assets/images/side-left.png');
  background-size: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.border-hawk-right {
  position: absolute;
  width: 250px;
  height: 250px;
  background: url('../../assets/images/side-right.png');
  background-size: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn-register-workshop{
  background: transparent;
  color: #2E94E4;
  padding: 10px 14px;
  border:2px solid #2E94E4;
  border-radius: 5px;
  font-size: 16px;
}

.news-hawk {
  width: 100%;
  height: 400px;
  position: relative;
}
.news-hawk img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-hawk .content {
  background:linear-gradient(178.91960697772294deg, rgba(255, 255, 255,0) -2.6934523809523654%,rgba(255, 255, 255,0.0019047619047619048) -2.6934523809523654%,rgba(50, 50, 50,0.3) 56.29092261904762%,rgba(48, 48, 48,0.3173913043478261) 56.665426587301596%,rgba(18, 18, 18,0.7) 73.51810515873015%,rgba(18, 18, 18,0.7027397260273972) 73.33085317460318%,rgba(8, 8, 8,0.9) 87.1875%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  color: #fff;
}

.news-hawk .content > .caption {
  width: 100%;
  padding: 30px 30px;
  color: #fff;
  position: absolute;
  bottom: 0;
  text-align: left;
}


.news-hawk .content > .date {
  width: 100%;
  padding: 30px 30px;
  color: #fff;
  position: absolute;
  top: 0;
  font-size: 16px;
  text-align: left;
}
.text-black {
  color: #333 !important;
}

.news-hawk-thumblist {
  margin-bottom: 15px;
}

.news-hawk-thumblist:last-child{
  margin:0;
}

.testimoni-slide .content-testimoni {
  background: #eee;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.avatar-hawk{
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
  border-radius: 50%;
  border:2px solid #2791E3 !important;
  display: inline-block !important;
  padding: 3px;
}

.text-quote {
  font-size: 50px;
}

.flexslider.testimoni .flex-direction-nav a,
.video-flexslider .flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 50px;
    margin: 0;
    padding-top: 10px;
    position: absolute;
    top: 40%;
    z-index: 10;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    color: rgba(0,0,0,.8);
    text-shadow: 1px 1px 0 rgba(255,255,255,.3);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.flexslider.testimoni:hover .flex-direction-nav .flex-prev,
.video-flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 1;
    left: -50px;
}

.flexslider.testimoni:hover .flex-direction-nav .flex-next,
.video-flexslider:hover .flex-direction-nav .flex-next {
    opacity: 1;
    right: -50px;
}

.flexslider.testimoni  .flex-direction-nav a:before {
        font-family: 'icomoon';
    font-size: 40px;
    display: inline-block;
    content: "\e9c8";
    color: #2791E3;
}

.video-flexslider  .flex-direction-nav a:before {
        font-family: 'icomoon';
    font-size: 40px;
    display: inline-block;
    content: "\ede7";
    color: #2791E3;
    background: #fff;
}


.flexslider.testimoni .flex-direction-nav a.flex-next:before {
    content: "\e9cb";
}

.video-flexslider .flex-direction-nav a.flex-next:before {
    content: "\ede5";
}

.flexslider.testimoni .flex-control-paging li a,
.video-flexslider .flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #ddd;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 50%;
}

.flexslider.testimoni .flex-control-paging li a.flex-active,
.video-flexslider .flex-control-paging li a.flex-active {
    background: #2791E3 !important;
    cursor: default;
}


.box {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#2791E3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: -170px;
  left: 50%;
  background: #2791E3;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: #2791E3;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
.footer-video {
  background:#41a0ea;
  border-bottom:20px solid #2791E3;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  color: #fff;
}

.video-container {
  position: relative;
  height: 320px;
}
.flexslider {
  background: transparent;
}
.video-container:before {
  content: '';
  display: block;
  width: 100%;
  height: 8px;
  background: #ddd;
  position: absolute;
  top: 50%;
}

.video-flexslider img {
  width: 150px !important;
  height: 150px !important;
  padding: 5px;
  object-fit: cover;
  border-radius: 50%;
  border:5px solid #2791E3;
}

.bg-yellow {
  background: #FF9800;
}

.attachment-upload input[type="file"]{
  display: none;
}

.attachment-upload {
    background: #fff;
    cursor: pointer;
    border: 3px dashed #abcdf5;
    padding: 8px;
    border-radius: 2px;
    height: 120px;
    margin-bottom: 15px;
    position: relative;
}

.attachment-upload.fileIn {
  border:2px solid #ccc;
}

.attachment-upload span.close {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 99;
}

.attachment-upload span.close i{
  color: #5aa6ff;
}

.attachment-upload label {
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #888;
}

.attachment-upload label i{
  font-size: 40px;
  color: #888;
}

.attachment-upload:hover {
  background: #f5faff;
}

.attachment-upload-plus {
    background: #f5faff;
    cursor: pointer;
    border: 2px solid #abcdf5;
    padding: 8px;
    border-radius: 2px;
    height: 120px;
    color: #63abff;
    padding: 15px;
    text-align: center;
}

.attachment-upload-plus i{
  font-size: 40px;
  color: #63abff;
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
}

.attachment-upload-plus:hover {
  background: #deefff;
}